button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
}
.modal.open {
    display: flex;
}

.content {
    background: #ffffff;
    padding: 25px 50px;
    border-radius: 4px;
    margin: auto;
    position: relative;
}

.fa-times {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}